@import "../monument-grotesk.css";

:root {
  box-sizing: border-box;
  --mina-black: #2d2d2d;
  --mina-orange: #ff503b;
  --mina-grey: #d9d9d9;
  --mina-teal: #9fe4c9;
  font-family: "Monument Grotesk";
}

.mina-modal {
  z-index: 100;
  position: fixed;

  color: var(--mina-black);
  width: 34rem;
  height: 31rem;
  background-image: url("../img/mina_background.jpg");
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1.25rem 1.25rem 1.25rem 2.5rem;
}

.mina-modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.mina-modal__header > img:nth-child(2) {
  padding-bottom: 0.75rem;
}

.mina-modal__body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
}
.mina-modal__body > h3 {
  font-size: 2rem;
  font-weight: normal;
  width: 16rem;
  text-align: start;
  margin-bottom: 0.5rem;
}
.mina-modal__body > p {
  font-family: "Monument Grotesk Mono";
  font-size: 0.75rem;
  width: 19rem;
  text-align: start;
  margin-top: 0.2rem;
}

.proof-submit {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.proof-submit > span {
  display: flex;
  font-size: 1.25rem;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 3rem;
}

.mina-button {
  font-family: "Monument Grotesk Mono";
  position: relative;
  text-decoration: none;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--mina-black);
  border-top-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 1px;
  cursor: pointer;
  transform-style: preserve-3d;
  transition: background 200ms ease-out 0ms;
  padding: 1rem 1.5rem;
  text-transform: uppercase;
  font-size: 0.7rem;
  text-align: center;
  white-space: nowrap;
}
.mina-button::after {
  position: absolute;
  content: "";
  inset: 0.25rem -0.25rem -0.25rem 0.25rem;
  transform: translateZ(-1px);
  transition: transform 200ms ease-in 0ms, border 50ms ease-in 100ms;

  border-top-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 1px;
  border-bottom-left-radius: 1px;
  border: 1px solid var(--mina-black);
}
.mina-button:hover {
  background-image: url("../img/mina_button_hover.png");
  background-size: cover;
  background-color: var(--mina-black);
  color: white;
}
.mina-button:hover::after {
  border: 0px solid black;
  transform: translate(-0.25rem);
}
.mina-button > :first-child {
  margin-left: 1rem;
}
.mina-button--proof {
  background-color: var(--mina-teal);
  width: 11rem;
}
.mina-button--cancel {
  background-color: var(--mina-grey);
  width: 6rem;
}
.mina-button--submit {
  background-color: white;
  width: 8rem;
}

.mina-proof-uploaded-label {
  padding: 0.875rem 1rem;
  border: 1px solid var(--mina-teal);
  border-radius: 2px;
  cursor: pointer;
}

.mina-modal__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 45%;
}

.mina-app-download {
  color: var(--mina-orange);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
}
.mina-app-download > svg {
  margin-left: 0.25rem;
}
