body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  box-sizing: border-box;
  --mina-black: #2d2d2d;
  --mina-orange: #ff503b;
  --mina-grey: #d9d9d9;
  --mina-teal: #9fe4c9;
  font-family: "Monument Grotesk";
}
